.Container {
	&--left {
		margin-right: auto;
	}
	&--right {
		margin-left: auto;
	}
	&--center {
		margin: 0 auto;
	}

	&--padding-sm {
		padding: 0 var(--spacing-2);
	}
	&--padding-md {
		padding: 0 var(--spacing-4);
	}
	&--padding-lg {
		padding: 0 var(--spacing-6);
	}
}
