.Box {
	border: 1px solid;

	&--padding-sm {
		padding: var(--spacing-2);
	}
	&--padding-md {
		padding: var(--spacing-4);
	}
	&--padding-lg {
		padding: var(--spacing-5) var(--spacing-6);
	}

	&--elevation-0 {
		box-shadow: var(--shadows-0);
	}
	&--elevation-1 {
		box-shadow: var(--shadows-1);
	}
	&--elevation-2 {
		box-shadow: var(--shadows-2);
	}
	&--elevation-3 {
		box-shadow: var(--shadows-3);
	}

	&--radius-sm {
		border-radius: var(--radius-sm);
	}
	&--radius-md {
		border-radius: var(--radius-md);
	}
	&--radius-lg {
		border-radius: var(--radius-lg);
	}
	&--radius-none {
		border-radius: none;
	}
}
