.stack {
	display: flex;
}

.align-items-start {
	align-items: flex-start;
}
.align-items-end {
	align-items: flex-end;
}
.align-items-center {
	align-items: center;
}
.align-items-stretch {
	align-items: stretch;
}
.align-items-baseline {
	align-items: baseline;
}

.direction-row {
	flex-direction: row;
}
.direction-column {
	flex-direction: column;
}
.direction-row-reverse {
	flex-direction: row-reverse;
}
.direction-column-reverse {
	flex-direction: column-reverse;
}

.flex-wrap-wrap {
	flex-wrap: wrap;
}
.flex-wrap-nowrap {
	flex-wrap: nowrap;
}
.flex-wrap-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.justify-content-start {
	justify-content: flex-start;
}
.justify-content-end {
	justify-content: flex-end;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-space-between {
	justify-content: space-between;
}
.justify-content-space-around {
	justify-content: space-around;
}
.justify-content-space-evenly {
	justify-content: space-evenly;
}
